{% extends 'base.html.twig' %}

{% block title %}{{ 'support.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'support.title'|trans }}</h1>
        <p>{{ 'support.intro_1'|trans }}</p>
        <p>{{ 'support.intro_2'|trans }}</p>

        <h3>{{ 'support.tips_title'|trans }}</h3>
        <p>{{ 'support.tips_text_1'|trans }}</p>
        <p>{{ 'support.tips_text_2'|trans }}</p>
        {% set hint_locale = app.request.locale %}
        {% set hint_path = 'images/startup-hints.' ~ hint_locale ~ '.png' %}
        {% set hint_image = asset(hint_path) %}
        <div class="row text-center spacer-lg">
            <p><img src="{{ hint_image }}" alt="{{ 'support.tips_image_alt'|trans }}" onerror="this.onerror=null; this.src='{{ asset('images/startup-hints.png') }}';" /></p>
        </div>

        <h3>{{ 'support.docs_title'|trans }}</h3>
        <p>
            {{ 'support.docs_text'|trans }}
            <a href="{{ path('documentation') }}">{{ 'support.docs_link_label'|trans }}</a>!
        </p>

        <h3>{{ 'support.ask_title'|trans }}</h3>
        <p>{{ 'support.ask_text_1'|trans }}</p>
        <p>{{ 'support.ask_text_2'|trans }}</p>
    </div>
{% endblock %}
